# I. Рядки (String).

1. Створити пустий рядок двома різними способами.

In [ ]:
empty_string = ''
empty_string = str()

2. Створити рядок з апострофом.

In [ ]:
apostroph_string = ' \' '
print(apostroph_string)

 '

3. Створити рядок з символом переходу на новий рядок та роздрукувати його в консоль.

In [ ]:
my_string = "Рядок 1 \nРядок 2"
print(my_string)

Рядок 1
Рядок 2

4. Зробити рядок з завдання №3 "сирим"(raw), вивести в консоль та порівняти з результатом в попередному завданні.

In [ ]:
my_string = r"Рядок 1 \nРядок 2"
print(my_string)

Рядок 1 \nРядок 2

raw "відміняє" всі спеціальні символи і рядок виводиться точно в такому вигляді, в якому написаний в **коді**

5. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname_string = "My surname is Pryimachuk"

6. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
original_string = "My dog is crazy."
separated_words = original_string.split()
separated_words

['My', 'dog', 'is', 'crazy.']

# II. Множини (Set).

7. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
empty_set = set()
empty_set.add(5)
empty_set.add("Hi")
empty_set.add(7.9)
empty_set

{5, 7.9, 'Hi'}

Множини в Python є змінними, тобто можна додавати, видаляти та змінювати їх елементи.

8. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
my_set

{1, 2, 8, 9, 67}

Деякі елементи "зникли", бо множини в Python можуть містити тільки унікальні елементи

9. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 6, 7, 8, 9}
union_set = set1.union(set2)
difference_set = set1.difference(set2)
intersection_set = set1.intersection(set2)
symmetric_difference_set = set1.symmetric_difference(set2)

print(union_set)
print(difference_set)
print(intersection_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4}
{5}
{1, 2, 3, 4, 6, 7, 8, 9}

10. Створіть множину з пʼяти елементів. За допомогою спеціального методу, вилучіть три елементи один за одним з множини. Чи може гарантуватися порядок елементів у множинах?

In [ ]:
my_set = {1, 2, 3, 4, 5}

element1 = my_set.pop()
print(element1)

element2 = my_set.pop()
print(element2)

element3 = my_set.pop()
print(element3)

1
2
3

У Python елементи множини не мають фіксованого порядку. Порядок вилучених елементів може варіюватися з кожним запуском програми або залежати від реалізації мови Python, тому не можна розраховувати на певний порядок у множинах.

# III. Словники (Dictionary).

11. Створіть пустий словник двома способами.

In [ ]:
empty_dict1 = {}
empty_dict2 = dict()

12. До одного зі словників вище додайте чотири пари елементів такі, щоб їхні ключі були різних типів.

In [ ]:
empty_dict = {}

empty_dict["name"] = "Antonina"
empty_dict[42] = "forty-two"
empty_dict[3.14] = "pi"
empty_dict[True] = "boolean"

print(empty_dict)

{'name': 'Antonina', 42: 'forty-two', 3.14: 'pi', True: 'boolean'}

*чи може список бути ключем? а значенням? чому?

13. Використовуючи той самий словник, отримайте по ключу будь-яке значення з наявних. Тепер видаліть цю пару ключ-значення. Спробуйте знову отримати значення по цьому ж ключу. Використовуючи спеціальний метод, виправте помилку.

In [ ]:
empty_dict["name"]

'Antonina'

In [ ]:
del empty_dict["name"]

In [ ]:
dict_name = empty_dict.get("name")
dict_name

'Antonina'

# IV. Оператори порівняння та логічні оператори. Умови.

14. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
import random

In [ ]:
my_favorite_number = random.randint(1, 99)

print("My favorite number is:", my_favorite_number)

if my_favorite_number % 2 == 0:
  result = my_favorite_number * 2
else:
  result = my_favorite_number * 3 + 1

print("result is:",result)

My favorite number is: 65
result is: 196

15. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [ ]:
name = "Kolya"

if 'a' in name or 'i' in name:
    print("A or I is in the name")

if 'o' in name and 'n' in name:
    print("O and N is in the name")

elif 'n' in name:
    print("Only N is in the name")

else:
    print("There is no N in the name, but there might be O")

A or I is in the name
There is no N in the name, but there might be O

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.